@charset "UTF-8";
/*@mixin background-color ($color) {
    background-color: $color;
}
*/
/*background: -webkit-linear-gradient(#eee, #333);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;*/
/*
    *------- Menu 01 -----
"Devonshire", cursive;
 "Itim", cursive;     color: #3d1319;
 -------------Menu 02 -------
 "Kurale", serif;
 "Source Serif Pro", serif;      color: #c67412;

 ---------Menu 03 -----------
 "Dancing Script", cursive;
 "PeacerfulDay"; color : #0887fb
 ----------Menu 04--------------
 "Kaushan Script", cursive;
 "PeacerfulDay"; color : #72bf56;




     background: -webkit-linear-gradient(-45deg, #0000d4, #1976f9);

 */
body {
  margin: 0;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

/*h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5rem;
}
*/
html {
  font-size: 62.5%;
}

.container {
  margin: 2rem;
  padding: 4rem 10rem;
}

.header {
  background-color: #0e850e;
  height: 10rem;
}
.header a {
  text-decoration: none;
}
.header h1 {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  color: #f0a70a;
  margin-top: 0;
}

.footer {
  background-color: #0e850e;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer a {
  text-decoration: none;
  color: #f0a70a;
  padding: 16px 20px 0 20px;
}

.menu-flex {
  display: flex;
  flex-wrap: wrap;
}

.menu-prev {
  width: 46%;
  margin: 0px 15px 30px;
  padding: 316px 0px 0px 0px;
  height: 400px;
  display: flex;
  justify-content: center;
  /*@include background-color( #fcdfdb);*/
  /*background-color: #fcdfdb;*/
  text-decoration: none;
  /*
  &-green {
      @include background-color(rgb(231, 226, 226))
  }
  &-red {
      @include background-color(rgb(230, 216, 216))
  }
  &-white {
      @include background-color(rgb(208, 195, 211))
  }
  */
}
.menu-prev--1 {
  background-color: #fcdfdb;
  /* font-family: map-get($color, fm);*/
}
.menu-prev--2 {
  background-color: #fff5fe;
  /* font-family: map-get($color, fm);*/
}
.menu-prev--3 {
  background-color: #f9f9f9;
  /* font-family: map-get($color, fm);*/
}
.menu-prev--4 {
  background-color: #fdfffd;
  /* font-family: map-get($color, fm);*/
}
.menu-prev img {
  width: 25%;
  margin-left: 90px;
}
.menu-prev__heading {
  margin-top: 0px;
  text-align: center;
}
.menu-prev__heading--1 {
  font-family: "Devonshire";
  font-size: 4rem;
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-prev__heading--2 {
  font-family: "Kurale";
  font-size: 4rem;
  background: -webkit-linear-gradient(-45deg, #da7624, #701ffe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-prev__heading--3 {
  font-family: "Dancing Script";
  font-size: 4rem;
  background: -webkit-linear-gradient(-45deg, #0000d4, #1976f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-prev__heading--4 {
  font-family: "Kaushan Script";
  font-size: 4rem;
  background: -webkit-linear-gradient(-45deg, #3d843a, #b6ff75);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu-prev__subtitle {
  text-align: center;
  text-decoration: none;
  margin-top: 0px;
  line-height: 0rem;
}
.menu-prev__subtitle--1 {
  font-family: "Itim";
  font-size: 4rem;
  color: #3d1319;
}
.menu-prev__subtitle--2 {
  font-family: "Source Serif Pro";
  font-size: 4rem;
  color: #c67412;
}
.menu-prev__subtitle--3 {
  font-family: "Dancing Script";
  font-size: 4rem;
  color: #0887fb;
}
.menu-prev__subtitle--4 {
  font-family: "Kaushan Script";
  font-size: 4rem;
  color: #72bf56;
}

.menu-byline {
  background-color: #0e850e;
  text-align: center;
  border: 1px solid #0e850e;
  width: 30%;
  margin: auto;
  border-radius: 15px;
}
.menu-byline p {
  text-align: center;
  color: #f0a70a;
}

h2 {
  text-align: center;
}

.detail-menu-prev {
  background-color: #fcdfdb;
  padding: 6rem 14rem;
  font-family: "Devonshire";
}
.detail-menu-prev__heading {
  text-align: center;
}
.detail-menu-prev__heading img {
  width: 10%;
}
.detail-menu-prev__heading h1 {
  margin-top: 0px;
  /*  à revoir personnalisaton font family*/
  /* font-size: 3rem;
  margin-top: 0px;
  font-family: "Devonshire"; */
}

.block-menu1-prev h3 {
  text-align: center;
}
.block-menu1-prev__flex {
  display: flex;
  justify-content: space-between;
}

h2 {
  text-align: center;
}

.detail-menu-prev {
  background-color: #fcdfdb;
  padding: 6rem 14rem;
  font-family: "Devonshire";
}
.detail-menu-prev__heading {
  text-align: center;
}
.detail-menu-prev__heading img {
  width: 10%;
}
.detail-menu-prev__heading h1 {
  margin-top: 0px;
  /*  à revoir personnalisaton font family*/
  /* font-size: 3rem;
  margin-top: 0px;
  font-family: "Devonshire"; */
}

.block-menu1-prev h3 {
  text-align: center;
}
.block-menu1-prev__flex {
  display: flex;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
