.container_2 {
    margin: 2rem;
    padding: 4rem 14rem;
    @include mobile-only {
        margin: 40px 40px 40px 40px;
        padding: 0rem;
    }
    @include tablette-only {
        margin: 2rem;
        padding: 4rem 0rem;
    }
}