.footer {
    background-color: rgb(14, 133, 14);
    height: 5rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    a {
        text-decoration: none;
        color: #f0a70a;
        padding: 16px 20px 0 20px;
    }
    @include mobile-only {
        justify-content: space-evenly;
        & a {
            padding: 15px 0px 0px 3px;
        }
    }
}