.header {
    background-color: $colour-primary;
    height: 10rem;
    & a {
        text-decoration: none;
    }
    h1 {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        color: $color-secondary;
        margin-top: 0;
    }
}