.header {
    background-color: rgb(14, 133, 14);
    height: 10rem;
    h1 {
        display: flex;
        justify-content: center;
        padding-top: 2rem;
        color: rgb(240, 167, 10);
        margin-top: 0;
    }
}