html {
    font-size: 62.5%;
}


/*------- Menu 01 -----
"Devonshire", cursive;
 "Itim", cursive;     color: #3d1319;
 -------------Menu 02 -------
 "Kurale", serif;
 "Source Serif Pro", serif;      color: #c67412;

 ---------Menu 03 -----------
 "Dancing Script", cursive;
 "PeacerfulDay"; color : #0887fb
 ----------Menu 04--------------
 "Kaushan Script", cursive;
 "PeacerfulDay"; color : #72bf56;
---------------------------------







*/