h1 {
    text-align: center;
    @include mobile-only {
        font-size: 3rem;
    }
}

.block-menu-prev {
    @include config-menu($config-menu);
    &__flex {
        display: flex;
        justify-content: space-between;
        font-weight: lighter;
        & p:first-child {
            padding-right: 10px;
        }
    }
    &__heading {
        display: flex;
        justify-content: space-between;
        & img {
            width: 25%;
            height: 10px;
            padding-top: 35px;
        }
        & .underline {
            position: relative;
            margin-top: 20px;
            &:hover {
                &::after {
                    transform: scaleX(1);
                }
            }
            &::after {
                content: "";
                height: 3px;
                border-bottom: solid 3px;
                transform: scaleX(0);
                transition: transform 400ms ease-in-out;
                transform-origin: left;
                position: absolute;
                left: 0;
                width: 100%;
                top: 33px;
            }
        }
    }
    @include mobile-only {
        &__heading {
            & img {
                width: 10%;
            }
            & .underline {
                text-align: center;
            }
        }
        &__flex {
            flex-direction: column;
            & P:first-child {
                margin-top: 0px;
                text-align: center;
                margin-bottom: 10px;
            }
            & p:nth-child(2) {
                text-align: center;
                margin-top: 0px;
                margin-bottom: 30px;
            }
        }
    }
}

;
.detail-menu-prev {
    @include background-menu($background-color-menu);
    padding: 6rem 11rem;
    margin-bottom: 8rem;
    box-shadow: 1px 34px 52px -21px rgba(168, 168, 168, 0.57);
    &__heading {
        text-align: center;
        @include config-title($config-title);
        & img {
            width: 10%;
        }
        & h2 {
            margin-top: 0px;
            text-align: center;
        }
        &--flex {
            display: flex;
            justify-content: center;
            & img {
                width: 12%;
            }
        }
    }
    @include mobile-only {
        padding: 10px 10px 10px 10px;
        margin-bottom: 8rem;
        &__heading {
            & img {
                width: 15%;
                margin-top: 4rem;
            }
            &--flex {
                & img {
                    width: 20%;
                    margin-top: 1rem;
                }
                & h2 {
                    font-size: 2rem;
                }
            }
        }
    }
    @include tablette-only {
        padding: 6rem 2rem;
    }
}