@mixin background-menu($colors) {
    @each $ID,
    $color in $colors {
        &--#{$ID} {
            background-color: map-get($color, bg);
        }
    }
}

@mixin config-title($colors) {
    @each $ID,
    $color in $colors {
        &--#{$ID} {
            font-family: map-get($color, family);
            font-size: map-get($color, size);
            background: map-get($color, color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

@mixin config-subtitle($colors) {
    @each $ID,
    $color in $colors {
        &--#{$ID} {
            font-family: map-get($color, family);
            font-size: map-get($color, size);
            color: map-get($color, color);
        }
    }
}

@mixin config-menu($colors) {
    @each $ID,
    $color in $colors {
        &--#{$ID} {
            font-family: map-get($color, family);
            font-size: map-get($color, size);
            color: map-get($color, color);
        }
    }
}

@mixin border_animation__color($animations) {
    @each $ID,
    $animation_color in $animations {
        &--#{$ID} {
            background-color: map-get($animation_color, color);
        }
    }
}

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablette-only {
    @media screen and (min-width: map-get($breakpoints, min-tablette)) and (max-width: map-get($breakpoints, max-tablette)) {
        @content;
    }
}

@keyframes blink {
    0% {
        opacity: 0.1;
    }
    20% {
        opacity: 0.6;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .1;
    }
}